name: cached

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined

    steps:
    - uses: actions/checkout@v3

    - name: Run Clippy
      run: cargo clippy --all-targets --all-features

    - name: Generate code coverage
      run: cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 120 --out Xml -- --show-output

    - name: Upload to codecov.io
      uses: codecov/codecov-action@v3
